<ul class="equipment" >
    <li *ngFor="let eqItem of localEquipment">
	<equipment-item [item]="eqItem" ></equipment-item>
    </li>
    <li class="controls">
	<button class="btn" *ngIf="!addFormOpen" (click)="showAddForm()" >Add</button>
	<div *ngIf="addFormOpen" >
	    <div class="equipment-form" >
		<label for="equipment-name" >
		    Name
		</label>
		<input type="text" name="equipment_name" id="equipment-name" [(ngModel)]="editEquipment.name" />
	    </div>
	    <div class="equipment-form" >
		<label for="equipment-quality" >
		    Quality
		</label>
		<select name="equipment_quality" id="equipment-quality" [(ngModel)]="editEquipment.currentQuality">
		    <option value="EquipmentQuality.Basic" >Basic</option>
		    <option value="EquipmentQuality.Serviceable" >Serviceable</option>
		    <option value="EquipmentQuality.Masterful" >Masterful</option>
		</select>
	    </div>
	    <div class="equipment-form" >
		<label for="equipment-notes" >
		    Notes
		</label>
		<textarea name="equipment_notes" id="equipment-notes" [(ngModel)]="editEquipment.notes" ></textarea>
	    </div>
	    <div class="equipment-form-controls" >
	    <button class="btn" (click)="clearAddForm()">Cancel</button>
	    <button class="btn" (click)="saveAddForm()" >Save</button>
	    </div>
	</div>
    </li>
</ul>
