<div class="trilogy-game-view gm-view" >
    <div class="gm-view-header" >GM View     <gm-menu></gm-menu></div>
    <div class="game-loaded" *ngIf="gameExists | async">
	    <h1>{{game.name}}</h1>
	    <div class="game-layout" >
		<div class="column-left">
		    <focus-list-set>
		    <focus-container [title]="'Players'">
			<player-list></player-list>
		    </focus-container>
		    <focus-container [title]="'Locations'" >
			<location-list [gmView]="true"
				       *ngIf="locationListOpen"
				       (showLocation)="showLocation($event)"
				       (newLocation)="showLocation($event)"
			></location-list>
		    </focus-container>
		    <focus-container [title]="'NPCs'">
			<npc-list></npc-list>
		    </focus-container>
		    </focus-list-set>
		</div>
		<div class="column-centre" >
		    <div class="current-scene" *ngIf="currentScene" >

		    </div>
		</div>
		<div class="column-right" >
		    <dice [roll]="diceRoll | async" (justRolled)="notifyRoll($event)" ></dice>
		    <chat [playerId]="playerId" ></chat>
		</div>


	    </div>
	    <div class="game-footer" >
		<div class="gm-options" >
		    <modal-window [title]="'Location: '+(openLocation?.name || '')" [open]="showLocationModal"
				  [width]="800" [height]="600" (closed)="gmOptionsClosed()">
			<location
			  [gmView]="true"
			  [location]="openLocation"
			  (created)="closeLocation()"></location>
		    </modal-window>
		</div>
	    </div>
	</div>
 
    <ng-container *ngIf="!(gameExists | async)">
	<div class="trilogy-create-game" >
	    <h1>Create Game</h1>
	    <div class="game-form" >
		<p><label for="nameContainer" >Game name:</label><input type="text" class="title-input" id="nameContainer" name="nameContainer" [(ngModel)]="game.name"  /></p>
		<p><label for="gmNameContainer">Your name:</label><input type="text" class="title-input"
									 id="gmNameContainer" name="gmNameContainer" [(ngModel)]="gmName" ></p>
	    <p>
		<button type="button" (click)="createGame()" >Create</button>
	    </p>
	  </div>
	</div>
    </ng-container>

</div>
