<div class="location-list">
    <ul class="locations" >
	<li class="location" *ngFor="let location of liveLocations | async" >
	    <h3 [ngClass]="{ 'location-title': true, 'title-selected': (currentLocation == location.name) }" (click)="locationDetail(location.name)" >{{location.name}}</h3>
	    <div class="location-summary" *ngIf="currentLocation == location.name">
	    <button (click)="openLocation(location)" >Edit</button>
	    <button (click)="addToScene(location)">Create scene</button>
	    <p>{{location.description}}</p>
	    <ul class="child-locations" *ngIf="0 < location.childLocations.length">
		<li *ngFor="let childLoc of getChildLocations(location)" >
		    {{childLoc.name}}
		</li>
	    </ul>
	    </div>
	</li>
	<li class="location" >
	    <button (click)="createLocation()" >Create Location</button>
	</li>
    </ul>
</div>
